@CHARSET "UTF-8";

.fieldset-auto-width 
{
     display: inline-block;
}

fieldset 
{
	padding: 0em;
	font:80%/1 sans-serif;
	background-color: #cbd6ef;
}
label 
{
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}

body 
{
	background-image:url('../inhotim1.JPG');
}

.inputtext
{
	width: 15em;
	font-size: 16px;
	padding: 2px;
	border-width:1px;
	border-color:#dddddd;
	border-style:inset;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	outline:none;
}

#form_login
{
	position:relative;
	left:500px;
	top:250px;
}

.boasvindas
{
	width: 25em;
	font-size: 25px;
	color:white;
	position:relative;
	left:100px;
	top:80px;	
}

input[type="text"].texto_default_caixa_texto 
{
	width: 90%;
	font-size: 15px;
	color:gray;
	font-style: italic;
}

input[type="password"].texto_default_caixa_texto 
{
	width: 60%;
	font-size: 15px;
	color:gray;
	font-style: italic;
}
/*formatacao dos links*/
a:link 
{text-decoration:none;}
a:visited 
{text-decoration:none;}
a:hover 
{text-decoration:underline;}
a:active 
{text-decoration:underline;}